body.dark {
    background: #121212;
}

body.dark .calculator {
    background: #1e1e1e;
}

body.dark .display {
    background: #000;
    color: rgb(242, 8, 195);
}

body.dark .btn {
    background: #333;
    color: #fff;
}

body.dark .btn:hover {
    background: #e30ab4;
}

body.dark .equal {
    background: #e30a0a;
}

body.dark #theme-toggle {
    background: #27415c;
    color: #fff;
}