body.dark {
    background: #121212;
}

body.dark .calculator {
    background: #1e1e1e;
}

body.dark .display {
    background: #000;
<<<<<<< HEAD
<<<<<<< HEAD
    color: rgb(244, 46, 230);
=======
    color: #0f0;
>>>>>>> origin/Abdoul
=======
    color: rgb(242, 8, 195);
>>>>>>> origin/Brayand
}

body.dark .btn {
    background: #333;
    color: #fff;
}

body.dark .btn:hover {
    background: #e30ab4;
}

body.dark .equal {
    background: #e30a0a;
}

body.dark #theme-toggle {
    background: #0a84ff;
    color: #fff;
}